<p id="notice"><%= notice %></p>


<div class="card" style="width: 70%; margin: auto;">
  <div class="card-body">
    <h2 class="card-title align-left">Contacts Details</h2>
    <div class='btn btn-secondary btn-sm align-right'>
      <%= link_to 'Back to Contact List', contacts_path %>
    </div>
    <div class='align-right'><span>&nbsp;&nbsp;</span></div>
    <div class='btn btn-success btn-sm align-right'>
      <%= link_to 'Edit Contact', edit_contact_path(@contact) %>
    </div>
    <br/>
    <br/>
    <hr/>
    <div class="card bg-light mb-3">
      <div class="card-header">Purchases</div>
      <div class="card-body">
        <div><span class="card-subtitle mb-2 text-muted">Name: </span><%= @contact.name %></div>
        
        <div><span class="card-subtitle mb-2 text-muted">Number: </span><%= @contact.contact_number %></div>
        <div><span class="card-subtitle mb-2 text-muted">Address: </span><%= @contact.address %></div>
        <div>
          <span class="card-subtitle mb-2 text-muted">Total Reward Points: </span>
          <span class="badge badge-success"><%= @contact.purchases.pluck(:reward_points).reduce(:+) %></span>
        </div>
      </div>
    </div>
    <div class="card text-white bg-info mb-3">
      <div class="card-header">Purchases</div>
      <div class="card-body">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Amount</th>
              <th scope="col">Reward Points</th>
              <th scope="col">Purchased At</th>
            </tr>
          </thead>
          <tbody>
            <%= render @contact.purchases %>
          </tbody>
        </table>  
      </div>
    </div>
    <hr/>

    <h5 class="card-title">Add new Purchase</h5>
    <%= form_for([@contact, @contact.purchases.build]) do |f| %>
      <div class="field form-group">
        <%= f.label :purchase_amout %><br />
        <%= f.text_field :purchase_amout, :class => 'form-control' %>
      </div>
      <div class="actions form-group">
        <%= f.submit 'Add Purchase', :class =>'btn btn-primary'%>
      </div>
    <% end %>
  </div>
</div>
